$break: 800px;

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 14px;
}
html, body {
	height: 100%;
}

.app {
	height: 100vh;
	height: 100svh;
	position: relative;
	display: flex;

	@media (max-width: $break) {
		flex-direction: column;
	}
}

.info {
	border: 1px solid black;
	background: white;
	flex: 0 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	padding: 4px;
	flex-direction: column;
	width: 200px;
	overflow-x: visible;
	overflow-y: auto;

	.time {
		margin-left: auto;
	}
	.actions {
		display: flex;
		flex-wrap: wrap;
		//flex-direction: column;
		//align-items: flex-start;
		gap: 4px;

		a {
			text-decoration: underline;
			cursor: pointer;
			border: 1px solid black;
			display: inline-block;
			padding: 2px;
		}

		.mobile-toggle {
			display: none;
		}
	}

	.map-coords input {
		max-width: 100%;
	}

	@media (max-width: $break) {
		flex-direction: row;
		align-items: center;
		width: auto;
		gap: 4px;

		.actions {
			.mobile-toggle {
				display: inline-block;
			}
		}
		.actions, .counts {
			display: flex;
			align-items: center;
			flex-direction: row;
		}
		.counts {
			gap: 8px;
		}
		.filters {
			display: none;
		}

		.map-coords input {
			max-width: 150px;
		}
	}
}

.map {
	flex: 1 1 auto;
}

.marker {
	width: 40px;
	height: 40px;
	svg {
		width: 40px;
		height: 40px;
	}
}

.popup {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-height: 50vh;
	overflow: auto;
}
.entry {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.id {
		margin: 0;
		font-size: 16px;
	}
	.people {
		font-size: 20px;
	}
}

.filters {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.filter-group {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.map {
	z-index: 0;
}

.drawer {
	position: fixed;
	background: white;
	border: 1px solid black;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 80svh;
}

.disclaimer {
	display: flex;
	gap: 8px;
	padding: 8px;
	align-items: flex-start;

	.icon {
		font-size: 24px;
	}
	button {
		margin-left: auto;
	}
}
